<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Users : View</title>
</head>
<body>
<h1 layout:fragment="header">Users : Create</h1>
<div layout:fragment="content" class="container">
    <div class="alert alert-success"
         th:if="${globalMessage}"
         th:text="${globalMessage}">
        Some Success message
    </div>
    <div class="pull-right">
        <a th:href="@{/user/}" href="list.html"> Users </a>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>ID</td>
            <td id="tid" th:text="${user.id}"></td>
        </tr>
        <tr>
            <td>Date</td>
            <td id="tCreated" th:text="${#calendars.format(user.created)}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td id="tEmail" th:text="${user.email}"></td>
        </tr>
    </table>
    <div class="pull-left">
        <a href="users" th:href="@{'/user/delete/' + ${user.id}}"> delete </a> |
        <a href="form.html" th:href="@{'/user/modify/' + ${user.id}}"> modify </a>
    </div>
</div>
</body>
</html>
